body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #032204, #063509);
    color: white;
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 45px;
}

.hero p {
    margin: 20px 0;
    font-size: 20px;
}

.btn {
    background-color: white;
    color: #216325;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

/* Products Section */
.products {
    padding: 60px 20px;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.product {
    background-color: #f1f8e9;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
}

/* Benefits Section */
.benefits {
    background-color: #e8f5e9;
    padding: 60px 20px;
    text-align: center;
}

.benefit-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.benefit {
    background-color: white;
    padding: 15px 25px;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* Responsive */
@media (max-width: 768px) {
    .product-container,
    .benefit-container {
        flex-direction: column;
        align-items: center;
    }
}


.product-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}
